
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ page.title }} </title>
<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
	<style type="text/css">
						#header h1 a, #header small {
			color: #3478E3;
		}
			</style>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<!-- Google Analytics Tracking by Google Analyticator 6.4.4.3: http://www.videousermanuals.com/google-analyticator/ -->
<script type="text/javascript">
	var analyticsFileTypes = [''];
	var analyticsEventTracking = 'enabled';
</script>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-41593354-1']);
        _gaq.push(['_addDevId', 'i9k95']); // Google Analyticator App ID with Google 
        
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body class="home blog">

<div id="header">

	<div class="sleeve" align="left" style="width: 978px">
<table id="Table_01" width="978" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="11">
			<img src="/images/site_01.png" width="978" height="139" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/images/site_02.png" width="211" height="358" alt=""></td>
		<td>
			<img src="/images/site_03.png" width="43" height="358" alt=""></td>
		<td colspan="3">
			<img src="/images/site_04.png" width="58" height="358" alt=""></td>
		<td>
			<img src="/images/site_05.png" width="335" height="358" alt=""></td>
		<td>
			<img src="/images/site_06.png" width="118" height="358" alt=""></td>
		<td>
			<img src="/images/site_07.png" width="31" height="358" alt=""></td>
		<td>
			<img src="/images/site_08.png" width="182" height="358" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/images/site_09.png" width="211" height="33" alt=""></td>
		<td>
			<img src="/images/site_10.png" width="43" height="33" alt=""></td>
		<td colspan="3">
			<img src="/images/site_11.png" width="58" height="33" alt=""></td>
		<td>
			<img src="/images/site_12.png" width="335" height="33" alt=""></td>
		<td>
			<img src="/images/site_13.png" width="118" height="33" alt=""></td>
		<td><a href="http://www.linkedin.com/in/johnlsingleton" target="_blank"><img src="/images/site_14.png" alt="" width="31" height="33" border="0"></a></td>
		<td>
			<img src="/images/site_15.png" width="182" height="33" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/images/site_16.png" width="211" height="266" alt=""></td>
		<td>
			<img src="/images/site_17.png" width="43" height="266" alt=""></td>
		<td colspan="3">
			<img src="/images/site_18.png" width="58" height="266" alt=""></td>
		<td>
			<img src="/images/site_19.png" width="335" height="266" alt=""></td>
		<td>
			<img src="/images/site_20.png" width="118" height="266" alt=""></td>
		<td>
			<img src="/images/site_21.png" width="31" height="266" alt=""></td>
		<td>
			<img src="/images/site_22.png" width="182" height="266" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="/images/site_23.png" width="211" height="27" alt=""></td>
		<td><a href="#blog"><img src="/images/site_24.png" alt="" width="43" height="27" border="0"></a></td>
		<td colspan="3">
			<img src="/images/site_25.png" width="58" height="27" alt=""></td>
		<td>
			<img src="/images/site_26.png" width="335" height="27" alt=""></td>
		<td>
			<img src="/images/site_27.png" width="118" height="27" alt=""></td>
		<td>
			<img src="/images/site_28.png" width="31" height="27" alt=""></td>
		<td>
			<img src="/images/site_29.png" width="182" height="27" alt=""></td>
	</tr>
</table>

	</div>


</div>

<div id="wrapper">
		<div id="sidebar">
	
		<ul>
			<li> <h2>Recent comments</h2>		<table class="p2-recent-comments" cellspacing="0" cellpadding="0" border="0">
			</table></li><li> <h2>Recent tags</h2>	<ul>
	</ul>
	</li>		</ul>
	
		<div class="clear"></div>
	
	</div> <!-- // sidebar -->

<a name="blog">&nbsp;</a>
<div class="sleeve_main">
		<div id="main">
		<h2>
					
				Recent Updates 				

				
		</h2>
	
		{{ content }}
		
<!--		<div class="navigation">
			<p class="nav-older"><a href="http://www.the-singleton.com/page/2/" >&larr; Older posts</a></p>
			<p class="nav-newer"></p>
		</div> -->
	
	</div> <!-- main -->

</div> <!-- sleeve -->

	<div class="clear"></div>
	
</div> <!-- // wrapper -->

<div id="footer">
	<p>P2 theme by <a href="http://automattic.com/" rel="designer">Automattic</a>.	</p>
</div>

<div id="notify"></div>

</body>
</html>
